<div id="chart" class="chart">
    <info *ngIf="item" [item]="item"></info>
    <svg 
        width="700px"
        height="250px"
        class="chart" 
        (mousemove)="onDiagramMouseMove($event)"
        (click)="onDiagramClick($event)">
            <svg:g *ngFor="let step of axisY">
                <svg:text 
                x="0"
                [attr.y]="step.y"
                font-family="Verdana"
                font-size="10">
                    {{step.value}}
                </svg:text>
                <svg:line 
                    fill="none" 
                    stroke="#ecedef" 
                    stroke-width="1" 
                    [attr.x1]="20" 
                    [attr.y1]="step.y" 
                    [attr.x2]="700"
                    [attr.y2]="step.y"/>
                
            </svg:g>           
            
            <svg:path          
                fill="none"
                stroke="#acbdca"
                stroke-width="2"
                [attr.d]="points"
                id="path"/>

            <svg:polyline
                *ngIf="additionLineShow"
                fill="dashed"
                stroke="grey"
                stroke-width="1"
                [attr.points]="additionLinePoints"
                stroke-dasharray="4"/>
            <svg:circle 
                *ngIf="additionLineShow"
                [attr.cx]="item.x" 
                [attr.cy]="item.y" 
                r="3" 
                fill="#acbdca"                 
            />
            <svg:text [attr.x]="month.shift" y="120" font-family="Verdana" font-size="10" *ngFor="let month of months">{{month.name}}</text>
            <svg:text x="10" y="140" font-family="Verdana" font-size="10">{{year}}</svg:text>
    </svg>
</div>