 .info {
    position: absolute;
    z-index: 10;
    background-color: white;
    padding: 5px;
    box-shadow: 2px 2px 2px #d2d3d3;
}
.info * {
    margin: 0;
}
.info p {
    display: flex;
    justify-content: space-between;
}
.info__date {
    color: #a7acb4;
    font-size: 13px;
}
.info__cost {
    padding: 1px;
    font-size: 16px;
    color: black;
}
.info__delta {
    padding: 1px;
    font-size: 16px;
}
.info__delta_good {
    color: #22a053;
}
.info__delta_bad {
    color: #ec2525;
}

